/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply scroll-smooth;
    }
    html, body, :root {
        @apply bg-slate-100;
    }

    .bg-hero {
        background: url('/src/assets/heroImage.jpg');
    }

    .bg-gradient-hero {
        background: rgba(229, 80, 39, 1);
        background: linear-gradient(
            270deg,
            rgba(229, 80, 39, 1),
            rgba(160, 239, 239, 1)
        );
    }

    .bg-gradient-card {
        background-image: radial-gradient(
                70% 30% at 50% 0,
                #fff 60%,
                transparent
            ),
            radial-gradient(50% 50% at 50% 10%, #fff 30%, transparent),
            radial-gradient(
                84.51% 92.7% at 106.7% 103.96%,
                #9cdaf0 40.17%,
                #cbd0fe 100%
            );
    }

    @media (prefers-color-scheme: dark) {
        .bg-gradient-card {
            background: linear-gradient(
                0deg,
                rgb(20, 30, 48) 11.2%,
                rgb(28, 45, 66) 91.1%
            );
        }
        html, body, :root {
            background-color: #172757;
            background: linear-gradient(
                109.6deg,
                rgb(36, 45, 57) 11.2%,
                rgb(16, 37, 60) 51.2%,
                rgb(0, 0, 0) 98.6%
            );
        }
        .bg-gradient-hero {
            background: #172757;
            background: radial-gradient(at center top, #172757, #1c2837);
        }
    }
}
