/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-white dark:bg-gray-800;
        background-image: linear-gradient(100deg, #e3fdf5 0%, #ffe6fa 100%);
    }

    .bg-gradient-hero {
        background: #d5f8ff;
        background: radial-gradient(at left top, #d5f8ff, #fff3cf);
    }

    .bg-gradient-card {
        background-image: radial-gradient(
                70% 30% at 50% 0,
                #fff 60%,
                transparent
            ),
            radial-gradient(50% 50% at 50% 10%, #fff 30%, transparent),
            radial-gradient(
                84.51% 92.7% at 106.7% 103.96%,
                #9cdaf0 40.17%,
                #cbd0fe 100%
            );
    }

    @media (prefers-color-scheme: dark) {
        .bg-gradient-card {
            background: linear-gradient(
                0deg,
                rgb(20, 30, 48) 11.2%,
                rgb(28, 45, 66) 91.1%
            );
        }
        body {
            background: linear-gradient(
                109.6deg,
                rgb(36, 45, 57) 11.2%,
                rgb(16, 37, 60) 51.2%,
                rgb(0, 0, 0) 98.6%
            );
        }
        .bg-gradient-hero {
            background: #172757;
            background: radial-gradient(at center top, #172757, #1c2837);
        }
    }
}
